.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background-image: url(./images/pundit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 400px;
}
.register {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #2563eb;
}
.loginLink {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.loginLink a {
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}
